<div class="marginTop">
  <div *ngIf="user">
    <h1 class="h1-text">KPI LIST</h1>
    <div class="text2" *ngFor="let kpi of kpis">
      <p class="login-text">KPI: {{kpi.name | json}}</p>
      <p class="login-text">DESCRIPTION: {{kpi.description | json}}</p>

      <div class="login-text">
        <input class="login-submit" type="submit"  [routerLink]="['/line', kpi._id]" name="line" value="Graph KPI" />
      </div>
      <div class="login-text">
      </div>
    </div>
  </div>
  <div *ngIf="!user" class="unauthorized">
    <p>Forbidden zone. Please contact with your system administrator.</p>
    <a [routerLink]="['']">Back</a>
  </div>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</div>
