<div class="row" *ngIf="resolve==true">
  <div class="col-md-6">
    <div style="display: block;" *ngIf="lineChartData">
      <canvas baseChart width="400" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</div>
