<div class="marginTop">
  <form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x"></i>
    </span>
  </p>
  <input type="text" [(ngModel)]="formInfo.username" class="login-username" autofocus="true" required="true" placeholder="Username"  name="username"/>
  <input type="password" [(ngModel)]="formInfo.password" class="login-password" required="true" placeholder="Password" name="password" />
  <div *ngIf="message" class="unauthorized">
    <p class="login-incorrect">{{message}}</p>
  </div>
  <input type="submit" (click)="login()" name="Login" value="Login" class="login-submit" />
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</div>
